.sidebar{
  background-color: white;
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  width: 72px;
  cursor: pointer;
  z-index: 200;
}


.sidebar-link{
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}

.sidebar-link img{
height: 25px;
margin-bottom: 4px;
object-fit: contain;
 
}

.sidebar div{
  font-size: 10px;
  
}




